header
  h1= title
  nav
    a(href='http://medium.com/@awmyers') Blog
    a(href='http://twitter.com/awmyers') Twitter
    a(href='http://linkedin.com/in/awmyers') LinkedIn
    a(href='http://actionword.co') Seattle Writing Service
