header
  h1= title
  nav
    a(href='http://medium.com/@awmyers' target='_blank') Blog
    a(href='http://twitter.com/awmyers' target='_blank') Twitter
    a(href='http://linkedin.com/in/awmyers' target='_blank') LinkedIn
    a(href='http://actionword.co' target='_blank') Seattle Writing Service
