extends layout

block content
  main
    header.panel
      h1.title= title
      nav
        a.icon.i-twitter(href='http://twitter.com/awmyers' target='_blank')
        a.icon.i-linkedin(href='http://linkedin.com/in/awmyers' target='_blank')
        a.icon.i-medium(href='http://medium.com/@awmyers' target='_blank')
        a.icon.i-lightning(href='http://actionword.co' target='_blank')

    article.main-content.panel
      p.bio I’m a communications professional based in Seattle with over ten years of experience. My specialties include copywriting and content marketing. Drop me a line if you want to talk shop, grab a pint, run around Green Lake, or all of the above.

      a.button(href='mailto:andrew@awmyers.com') Contact

    footer
      p.copyright
        span &copy; Copyright 2014&nbsp;
        span Andrew Myers Communications, LLC
