extends layout

block content
  p Thanks for visiting. I’m a communications professional based in Seattle with over ten years of experience. My specialties include copywriting and content marketing. Drop me a line if you want to talk shop, grab a pint, run around Green Lake, or all of the above.

  button() Contact
