doctype html
html
  head
    title Andrew Myers
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Communications professional in Seattle, WA')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='icon', href='favicon.ico')
      
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Libre+Baskerville|Kameron:700&text=M')
  body
    block content

    - if (environment == 'development') {
      // LiveReload
      script(src='http://localhost:35729/livereload.js')
    - }
    
    
