/* --- XXXXX --- */

/* --- XXXXX --- */




/* --- RESET --- */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

a {
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* --- BASE --- */

body {
  font-family: Helvetica, Arial, sans-serif;
  background-image: url('../images/paper-dark.jpg');
  background-repeat: repeat;
  padding-top: 2em;
}

main {
  color: #ECD9BC;
}

a, a:visited {
  color: #2D261B;
}

a:hover {
  color: #AC0635;
}



p {
  line-height: 1.5;
}



/* --- BUTTONS --- */

button,
.button {
  display: inline-block;
  background-color: #AC0635;
  color: #ECD9BC;
  margin-top: 2em;
  padding: 1em;
  border-radius: 5px;
  text-transform: uppercase;
}


/* --- HEADER --- */

.title-bg {
  background-image: url('../images/paper.jpg');
  background-repeat: repeat;
  width: 100%;
  color: #2D261B;
  padding: 5%;
}

.title {
  text-transform: uppercase;
  font-size: 3em;
  padding: 1em 0;
}

nav a {
  margin-right: 0.5em;
}




/* --- MAIN CONTENT --- */
main {
  width: 90%;
  margin: 5%;
  vertical-align: top;
}

.bio {

}


/* --- MEDIA QUERIES --- */

@media screen and (min-width: 600px) {
  html, body {
    height: 100%;
  }

  body {
    padding-top: 5em;
    font-size: 20px;
  }

  .title-bg {
    display: inline-block;
    width: 50%;
    height: 60%;
  }

  main {
    display: inline-block;
    margin: 0;
    padding: 5%;
    width: 50%;
  }
}
